.btn {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: grey;
}

.primary {
  column-rule: whitesmoke;
  background-color: blue;
}

.secondary {
  color: whitesmoke;
  background-color: green;
}
